<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing
        http://symfony.com/schema/routing/routing-1.0.xsd">
    <route id="moukail_verification_mail.request" controller="moukail_verification_mail.verification_mail_controller::request" path="/request/verification" methods="POST">
        <!-- settings -->
    </route>
    <route id="moukail_verification_mail.verify" controller="moukail_verification_mail.verification_mail_controller::verify" path="/verify/email/{token}" methods="POST">
        <!-- settings -->
    </route>
</routes>
